@model NhaSachMetMoi.Models.KH

@{
    ViewBag.Title = "DetailKH";
    Layout = "~/Views/Shared/Admin.cshtml";
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />
}

<h1>Thông tin khách hàng </h1>

<div style="margin-left:15px">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaKH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoTen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaiKhoan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaiKhoan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MatKhau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatKhau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DienThoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DienThoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgaySinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh Sửa", "EditKH", new { @MaKH = Model.MaKH }) |
    @Html.ActionLink("Quay lại trang trước", "IndexKH")
</p>
