@using NhaSachMetMoi.Models;

@{
    ViewBag.Title = "Layoutpage";
    var danhMucs = ViewBag.DanhMucs as List<NhaSachMetMoi.Models.TL>;

}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <link rel="shortcut icon" type="image/png" href="~/Content/images/logo.png" />
    <title>ATHENA</title>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <link href="~/Content/Layoutpage.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
</head>
<body>
    <header class="header">
        <nav>
            <div class="logo">
                <a href="@Url.Action("Index", "TrangChu")">
                    <img src="~/Content/images/logo1.png" alt="Logo" />
                    <span style="display: inline-block; vertical-align: middle; font-size: 40px; color: #FFFACD;font-weight:bolder">ATHENA</span>
                
                </a>

            </div>
            <div class="toggle">
                <a href="#"><ion-icon name="list-outline"></ion-icon></a>
            </div>
            <ul class="menu">
                <li style="font-size: 15px"><a href="~/Trangchu/Index">TRANG CHỦ</a></li>
                <li style="font-size: 15px" class="dropdown">
                    <ul onclick="myFunction()" class="dropbtn">DANH MỤC</ul>
                    <div id="myDropdown" class="dropdown-content">
                        @if (danhMucs != null)
                        {
                            foreach (var danhmuc in danhMucs)
                            {
                          
                                <a href="@Url.Action("SachTL","TrangChu", new { @matl = danhmuc.MaTL })">@danhmuc.TenTL</a>}
                        }
                    </div>
                </li>
                <li style="font-size: 30px">
                    <a href="@Url.Action("GioHang","GioHang")"><ion-icon name="cart-outline"></ion-icon></a>
                    <div id="rad-cart">@Html.Action("GioHangPartial", "GioHang")</div>
                </li>
                <li id="myOverlay" class="overlay">
                    <span class="closebtn" onclick="closeSearch()" title="Close Overlay">×</span>
                    <div class="overlay-content">
                        @using (Html.BeginForm("Ketquatimkiem", "Tim", FormMethod.Post))
                        {
                            <form>
                                @Html.TextBox("txtTim", "", htmlAttributes: new { @class = "TextBoxTimKiem", @placehoder = "Nhập từ khóa" })
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        }
                    </div>
                </li>
                <li style="font-size: 30px" class="openBtn" onclick="openSearch()"><ion-icon name="search-outline"></ion-icon></li>
                <li style="font-size: 30px;">
                    @if (Session["TaiKhoan"] != null)
                    {
                        var kh = (NhaSachMetMoi.Models.KH)Session["TaiKhoan"];
                        <a href="@Url.Action("ThongTinCaNhan", "KhachHang", new { id = kh.MaKH })" style="font-size: 18px; color:#FFFACD">
                            Xin chào, @kh.TaiKhoan
                        </a>
                        <sub>
                            <a href="@Url.Action("Logout", "DangNhap")" style="font-size:12px"> Đăng Xuất</a>
                        </sub>
                    }
                    else
                    {
                        <a href="@Url.Action("IndexTK", "DangNhap")">
                            <ion-icon name="person-circle-outline"></ion-icon>
                        </a>
                    }
                </li>
            </ul>
        </nav>
    </header>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        function openSearch() {
            document.getElementById("myOverlay").style.display = "block";
        }

        function closeSearch() {
            document.getElementById("myOverlay").style.display = "none";
        }
    </script>
    <script>
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }
        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>
    <script>
        $(function () {
            $(".toggle").on("click", function () {
                if ($(".menu").hasClass("active")) {
                    $(".menu").removeClass("active");
                    $(this).fint("a").html("<ion-icon name='menu-outline'></ion-icon>");
                }
                else {
                    $(".menu").addClass("active");
                    $(this).find("a").html("<ion-icon name='close-outline'></ion-icon");
                }
            })
        });
    </script>
    <br /><br />
    @RenderBody()
    <br /><br />
    <footer class="footer">
        <div class="container1">
            <div class="row1">
                <div class="footer-col">
                    <h4>ATHENA - Giấc mơ tri thức</h4>
                    <ul>
                        <li>7:30 - 21:00</li>
                        <li>Trường Đại học Ngoại ngữ - Tin học TP.HCM</li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>THÔNG TIN LIÊN HỆ</h4>
                    <ul>
                        <li>Hotline: 09888999888 </li>
                        <li>Email: ATHENA@gmai.com </li>
                    </ul>
                </div>
                <div class="footer-col">
                    <div class="social-link">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                    <div style="font-size: 20px; color: #FFFACD">
                        © Copyright 2024 - ATHENA
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>

