@using NhaSachMetMoi.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<Sach>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/Layoutpage.css" rel="stylesheet" />
@{
    ViewBag.Title = "SGK";
    Layout = "~/Views/Shared/Layoutpage.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div id="Loc" class="col-sm-3">
            <div class="khoi">
                <h2>Sắp xếp theo</h2>
                <ul>
                    <li><a href="@Url.Action("SachTL", new { MaTL = Model.FirstOrDefault()?.MaTL, page = ViewBag.Page, sortOrder = "PriceAsc" })">Giá tăng dần</a></li>
                    <li><a href="@Url.Action("SachTL", new { MaTL = Model.FirstOrDefault()?.MaTL, page = ViewBag.Page, sortOrder = "PriceDesc" })">Giá giảm dần</a></li>
                    <li><a href="@Url.Action("SachTL", new { MaTL = Model.FirstOrDefault()?.MaTL, page = ViewBag.Page, sortOrder = "NameAsc" })">Tên sách (A-Z)</a></li>
                    <li><a href="@Url.Action("SachTL", new { MaTL = Model.FirstOrDefault()?.MaTL, page = ViewBag.Page, sortOrder = "NameDesc" })">Tên sách (Z-A)</a></li>
                </ul>
            </div>
        </div>
        <div id="Sach" class="col-sm-9">
            <div class="khoisach">
                @foreach (var item in Model)
                {
                    <div id="SanPham" style="margin-left:70px">
                        <a href="@Url.Action("XemCT","TrangChu", new {@masach=item.MaSach})">
                            <br />
                            <div id="AnhBia" style="text-align:center">
                                <img src="@Url.Content("~/Content/images/sach/"+item.AnhBia)" width="200" height="250">
                                <div class="thumb-discount-label"> <span>@item.Sale%</span> </div>
                            </div>
                            <div id="TenSach">
                                @{
                                    string truncatedTitle = item.TenSach.Length > 20 ? item.TenSach.Substring(0, 20) + "..." : item.TenSach;
                                }
                                @truncatedTitle
                            </div>
                            <div id="DonGia">
                                <span>
                                    <b style="color: red; font-size: 18px">@string.Format("{0:0,0}", (decimal)item.Gia * (1 - (int)item.Sale / 100m)).Replace(",", ".") VNĐ</b><br />
                                    <del style="color:black; font-size:14px">@string.Format("{0:0,0}", @item.Gia).Replace(",", ".") VNĐ</del>
                                    <br />
                                </span>
                            </div>
                        </a>
                        <div id="NutMua">
                            @using (Html.BeginForm("ThemGioHang", "GioHang", new { @iMaSach = item.MaSach, @strURL = Request.Url.ToString() }))
                            {
                                <span style="text-align:center; border:0; cursor:pointer;" onclick="this.closest('form').submit();">Thêm vào giỏ</span>
                            }
                        </div>
                    </div>
                }
                <div style="clear:both"></div>
                <div class="MenuPage">
                    @Html.PagedListPager(Model, page => Url.Action("SachTL", new { MaTL = Model.FirstOrDefault()?.MaTL, page = page, sortOrder = ViewBag.CurrentSort }))
                </div>
            </div>
        </div>
    </div>
</div>
